@{
    ViewBag.Title = "..:: Know | Student - War Room Stage ::..";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Vamos batalhar!</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-bars"></i> Campo de Batalha</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    Stage

                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

@*<script src="~/Scripts/ViewScripts/School/AddQuestion.js"></script>*@
<script type="text/javascript">

    setInterval(function () {
        //code goes here that will be run every 5 seconds.    
        alert('Esperando adversário');
    }, 5000);

    //LocalAPI.Init();
</script>
