@model List<Know.MVC.Models.Serie>
@{
    ViewBag.Title = "..:: Know | School Register ::..";
    Layout = "~/Views/Shared/_LayoutLandingAuxPages.cshtml";
}

<section class="no-padding" id="studentRegister">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cadastre a sua escola</h2>
                <hr class="primary">
                <p>Sua conta gratuita por 30 dias, para oferecer a todos os seus alunos</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                            <div class="col-md-4">
                                <input id="txt-school-name" name="school-name" type="text" placeholder="Digite o Nome da Escola" class="form-control">
                            </div>
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                            <div class="col-md-4">
                                <input id="txt-school-email" name="school-email" type="text" placeholder="Digite o E-mail" class="form-control">
                            </div>
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                            <div class="col-md-4">
                                <input id="txt-school-password" name="school-password" type="password" placeholder="Digite a senha" class="form-control" maxlength="50">
                            </div>
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button id="btn-school-enviar" type="button" class="btn btn-primary btn-lg">Enviar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</section>


