@{
    ViewBag.Title = "..:: Know | School ::..";
    Layout = "~/Views/Shared/_LayoutLandingAuxPages.cshtml";
}

<section class="no-padding" id="schoolRegister">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Escolas e colégios</h2>
                <hr class="primary">
                <p>Seus alunos estão preparados para batalhar com alunos do mundo todo?</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary"></i>
                    <h3>Ranking</h3>
                    <p class="text-muted">Mostre a qualidade da sua escola para todo Brasil e para o mundo. Seus alunos batalham e conforme eles sobem no ranking, seu colégio também sobe.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Desempenho</h3>
                    <p class="text-muted">Alunos gostam de competições e desafios, aumente o desempenho dos seus alunos através de uma forma interativa e divertida de aprendizado.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Controle</h3>
                    <p class="text-muted">Tenha acesso a dados estatísticos de cada um de seus alunos, como a peformance em cada matéria, tempo gasto em batalhas, número de questões respondidas e muito mais.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Inovação</h3>
                    <p class="text-muted">Alunos gostam de competições e desafios, aumente o desempenho dos seus alunos através de uma forma interativa e divertida de aprendizado.</p>
                </div>
            </div>
        </div>
    </div>

    <br /><br />

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-lg">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                <h2 class="section-heading">Nossos planos</h2>
                                <hr class="primary">
                                <p>Ofereça aos seus alunos uma experiência incrível de aprendizado através de desafios com alunos do mundo inteiro.</p>
                                <p><b>Tudo isso por menos de R$1,00 por aluno.</b></p>
                            </div>
                        </div>

                        <div class="row no-gutter">
                            <div class="col-lg-4 col-sm-6">
                                <a href="/Home/SchoolRegister?plan=1" class="portfolio-box">
                                    <img src="/content/img/schoolPlan/planA.jpg" class="img-responsive" alt="">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                Clique para assinar
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a href="/Home/SchoolRegister?plan=2" class="portfolio-box">
                                    <img src="/content/img/schoolPlan/planB.jpg" class="img-responsive" alt="">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                Clique para assinar
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a href="/Home/SchoolRegister?plan=3" class="portfolio-box">
                                    <img src="/content/img/schoolPlan/planC.jpg" class="img-responsive" alt="">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                Clique para assinar
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
</section>

